<!DOCTYPE>

<html>

<head>
  <link rel="stylesheet" type="text/css" href="../styles/styles.css">
</head>

<body>
  <script type="text/javascript">
    window.open("{{sent_url}}", "_blank")
  </script>
  <div class="pagetitle">
    <h1>BoredLess</h1>
    <img src="../pictures/cropped_logo.png" alt="BoredLess Logo">

    <br>
    <h1>Please leave a comment on your recent visit.</h1>
    <form method="post" action="/new_comment">
      Comment:<br>
      <input type="text" name="sent_comment" value="Comment">
      <br>
      <input type="submit" value="Submit Comment" action="/new_comment">
      <input type="hidden" name="visit_id" value="{{visit_key}}">
    </form>


      <!-- <input onClick="window.location.href='{{sent_url}}'" type="submit" Value="Go"> -->
    <a href="/history">history</a>
    <a href="/">Return</a>
</body>

</html>
